<% post.replies.order(created_at: :desc).each do |reply| %>
  <div class="show-reply">
    <div class="show-post-head">
      <%= cl_image_tag reply.user.photo, class: "avatar avatar-small" %>
      <div class="show-post-userinfo">
        <div class="show-post-username">
          <%= reply.user.first_name %>
          <%= reply.user.last_name %>
        </div>
        <div class="posted-at">
          <%= reply.created_at %>
        </div>
      </div>
    </div>
    <div class="show-reply-content">
      <%= reply.content %>
    </div>
  </div>
<% end %>
