<% post.replies.order(created_at: :desc).each do |reply| %>
  <div class="show-reply">
    <div class="show-post-head">
      <%= cl_image_tag reply.user.photo, class: "avatar-small avatar-with-margin" %>
      <div class="show-post-userinfo">
        <div class="show-post-username">
          <p>
            <%= reply.user.first_name %>
            <%= reply.user.last_name %>
          </p>
        <div class="posted-at">
          <% time_diff = (Time.current - reply.created_at) / 1.minute  %>
          <% if time_diff < 60 %>
          (<%=  ((Time.current - reply.created_at) / 1.minute ).floor %> minutes ago)
          <% elsif time_diff < (60 * 24) %>
          (<%=  ((Time.current - reply.created_at) / 1.hour ).floor %> hours ago)
          <% else %>
          (<%=  ((Time.current - reply.created_at) / 1.day ).floor %> days ago)
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <div class="show-reply-content">
    <p>  <%= reply.content %></p>
    </div>
  </div>
<% end %>
