<div id="userprofile" class="tab-pane" role="tabpanel">
    <div class="container dashboard-top">
      <div class="user-picture">
        <%= cl_image_tag @user.photo, class: "avatar avatar-medium avatar-margin" %>
        <div class="btn profile-picture-button">Change profile picture</div>
      </div>

      <div class="user-summary container">

        <%= simple_form_for @user, method: :patch, url: user_registration_path(@user), html: { class: 'simple-form-field' } do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :first_name, disabled: true, readonly: true, label: "First name" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :last_name, disabled: true, label: "Last name" %>
          </div>
        </div>
        <% end %>

      <% if @user_sports.count <= 3 %>
        <% (3 - @user_sports.count).times do %>
        <%= render 'create', user: @user %>
        <% end %>
      <% else %>
            <%= render 'update', user: @user %>
      <% end %>

        <%= render 'update', user: @user %>

     </div>
   </div>
  </div>
