
<% @title="Your Dashboard" %>
<div class="white-background">

<h1 class="center-title">Your Dashboard</h1>

<div class="container dashboard-top">

    <div class="user-picture">
      <%= cl_image_tag @user.photo, class: "avatar avatar-medium avatar-margin" %>
      <div class="btn search-button">Change profile picture</div>
    </div>

    <div class="user-summary">

      <p> <strong> Username </strong>  <%= @user.first_name %> <%= @user.last_name %></p>
      <p> <strong> Email </strong> <%=@user.email %></p>
      <p> <strong> Sports </strong> <% @user_sports.each do |user_sport| %> </p>

      <%= simple_form_for user_sport, method: :patch, url: user_user_sport_path(@user, user_sport) do |f| %>
      <%= f.input :sport, label_method: :category, collection: Sport.all, label: "sport" %>
      <%= f.input :favourite, label: "favourite" %>
      <%= f.input :level, label: "level ", as: :slider, min: 1, max: 5, step: 1, orientation: 'horizontal', ticks: [1, 3, 5], tooltip_position: :top, ticks_labels: ['beginner', 'good', 'ninja'] %>
      <% end %>
      <% end %>

    </div>
  </div>


  <h2 class="center-title">Your Events</h2>

  <div class="events-tabs">
    <a class="events-tab active" href="#"> <h3>Upcoming events</h3> </a>

    <% @user.participations.each do |participation| %>

    <div class="user-event">

      <div class="event-details">
        <div class="event-summary">
         <h3><%= participation.event.title %></h3>
         <p><i class="fas fa-calendar-alt"></i><%= participation.event.date %></p>

         <div class="event-intensity">
           <% participation.event.intensity.times do %>
           <%= image_tag("muscles.svg", width: "3%", alt: "bicep", class: "img-intensity") %>
           <% end %>
           <% (5 - participation.event.intensity).times do %>
           <%= image_tag("muscles_alt.svg", width: "3%", alt: "bicep", class: "img-intensity") %>
           <% end %>
           <p><i class="fas fa-map-marker-alt"></i><%= participation.event.address %></p>
         </div>
       </div>

       <div class="event-description">
         <p><%= participation.event.description %></p>
       </div>
     </div>

     <div class="event-picture">
       <%= cl_image_tag participation.event.photo, crop: :crop, class:"event-cover" %>
     </div>
   </div>

   <% end %>
 </div>


     <a class="events-tab" href="#"> <h3>Past events</h3></a>
</div>



