
<% @title="Your Dashboard" %>
<div class="white-background">

 <ul class="events-tabs" role="tablist">
  <li role="presentation" class="events-tab active"><a href="#upcoming" data-toggle="tab">
    <h3>UPCOMING EVENTS</h3>
  </a></li>
  <li role="presentation" class="events-tab"><a  href="#past" data-toggle="tab">
    <h3>PAST EVENTS</h3>
  </a></li>
    <li role="presentation" class="events-tab"><a href="#profile" data-toggle="tab">
    <h3>PROFILE</h3>
  </a></li>
</ul>

  <div class="events-tab-content tab-content">
    <div id="upcoming" class="tab-pane active" role="tabpanel">
      <% @user.participations.each do |participation| %>

      <div class="user-event">

        <div class="event-details">
          <div class="event-summary">
           <h3><%= link_to participation.event.title, event_path(participation.event) %></h3>
           <p><i class="fas fa-calendar-alt"></i><%= participation.event.date %></p>

           <div class="show-event-intensity">
             <% participation.event.intensity.times do %>
             <%= image_tag("flame.svg", width: "20px", alt: "flame", class: "img-intensity") %>
             <% end %>
             <% (5 - participation.event.intensity).times do %>
             <%= image_tag("flame_alt.svg", width: "20px", alt: "flame", class: "img-intensity") %>
             <% end %>
             <p><i class="fas fa-map-marker-alt"></i><%= participation.event.address %></p>
           </div>
         </div>

         <div class="event-description">
           <p><%= participation.event.description[0, 200] %></p>
           <div class="update-participation">
             <div><h4><i class="fas fa-check"></i>Going</h4></div>
             <div>
              <p>
                <%= form_for participation, method: :delete, data: {confirm: "Are you sure"} do |f| %>
                <%= f.submit "LEAVE EVENT", class: "btn cancelled-button" %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="event-picture">
       <%= cl_image_tag participation.event.photo, crop: :crop, class:"event-cover" %>
     </div>
   </div>
   <% end %>
  </div>

  <div id="past" class="tab-pane" role="tabpanel">
    <p>Your past events (test)</p>
  </div>

  <div id="profile" class="tab-pane" role="tabpanel">

    <div class="container dashboard-top">

      <div class="user-picture">
        <%= cl_image_tag @user.photo, class: "avatar avatar-medium avatar-margin" %>
        <div class="btn profile-picture-button">Change profile picture</div>
      </div>

      <div class="user-summary container">

        <%= simple_form_for @user, method: :patch, url: user_registration_path(@user), :html=> { class: 'simple-form-field' } do |f| %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.input :first_name, label: "First name" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :last_name, label: "Last name" %>
          </div>
        </div>
        <% end %>

       <!--  <p> <strong> Username </strong>  <%= @user.first_name %> <%= @user.last_name %></p>
        <p> <strong> Email </strong> <%=@user.email %></p>
      -->
      <p> <strong> Your Sports </strong></p>
      <%#  if user sport is empty, then display form without prepopulated fields, else %>
      <% if @user_sports.empty? %>
         <p>Add sports</p>
         <% count = 0 %>
         <%= simple_form_for [current_user, @user_sport], method: :post, url: user_user_sports_path(current_user) do |f| %>
           <% count = count + 1 %>
           <div class="row">
            <div class="col-xs-4">
              <%= f.input :sport, label_method: :category, collection: Sport.all, label: "Sports" %>
            </div>
            <div class="col-xs-4">
              <%= f.input :level, collection: UserSport::LEVELS %>
            </div>
            <div class="col-xs-4">
              <div class="heart-selector">
                <%= f.input_field :favourite, class: "hidden", id: "user_favourite_sport_#{count}" %>
                <%= f.label :favourite, label: "", for: "user_favourite_sport_#{count}" %>
              </div>
            </div>

          </div>
          <%= f.submit "Create"%>
         <% end %>


      <% else @user_sports.each do |user_sport| %>
        <%= simple_form_for [current_user, user_sport], html: { class: 'simple-form-field' } do |f| %>
          <div class="row">
            <div class="col-xs-4">
              <%= f.input :sport, label_method: :category, collection: Sport.all, label: "Sports", selected: user_sport.sport.id %>
            </div>
            <div class="col-xs-4">
              <%= f.input :level, collection: UserSport::LEVELS, selected: user_sport.level %>
            </div>
            <div class="col-xs-4">
              <div class="heart-selector">
                <%= f.input_field :favourite, class: "hidden", id: "user_favourite_sport_#{user_sport.id}" %>
                <%= f.label :favourite, label: "", for: "user_favourite_sport_#{user_sport.id}" %>
              </div>
            </div>
          </div>
          <%= f.submit "Update"%>
         <%# f.collection_radio_buttons(
         :level, [[1,’Beginner’],[2,’Confirmed’],[3,’Ninja’]], :first, :last, { item_wrapper_tag: false }) %>
         <% end %>
        <% end %>
       <% end %>
     </div>
   </div>
  </div>
  </div>
</div>
