<div class="row">
  <div class="call-to-action text-center hidden-xs hidden-sm discover-all-button">
    <h1>Explore sports <span style="color: #bbbbbb">anywhere</span> you go.</h1>
  </div>
</div>

<%= form_tag(events_path, method: :get, class:"form-group") do %>
  <div class="form-inline search-flex">
    <div class="row">
      <div class="col-xs-12">
        <%= text_field_tag :address, params[:address], id:"event_address", placeholder: "Barcelona", class:"form-control search-stretch input-field " %>
        <%= date_field_tag :date_from, params[:date_from], placeholder: "18 to August 22, 2018", id:"range_start", class: "datepicker form-control input-field date-field datepicker" %>
        <!-- <%= date_field_tag :date_to, params[:date_to], placeholder: "TO", id:"range_end", class: "datepicker form-control input-field date-field" %> -->
      </div>
    </div>
  </div>
  <div class="form-inline search-flex-2nd-line">
    <div class="row">
      <div class="col-xs-12">
        <%= submit_tag 'Search', name: nil, class:"btn search-button search-button-home" %>
      </div>
    </div>
  </div>
<% end %>
