<% @title="Search Results - Travelfit" %>
<%= form_tag(events_path, method: :get, class:"form-group", id:"search-form") do %>
  <div class="row row-no-padding">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="form-inline search-flex">
        <%= text_field_tag :address, params[:address], value: params[:address], placeholder: "Location", id:"event_address", class:"form-control search-stretch input-field" %>
        <%= date_field_tag :date_from, params[:date_from], value: params[:date_from], placeholder: "When?", id:"date-from", id:"range_start", class: "form-control input-field date-field datepicker" %>
        <!-- <%= date_field_tag :date_to, params[:date_to], value: params[:date_to], placeholder: "TO", id:"date-to", id:"range_end", class: "form-control input-field date-field datepicker" %> -->
        <% if params[:free].present? %>
        <div class="switch">
          <%= check_box_tag :free, params[:free], value: params[:free] %>
          <span id="free" class="slider round"></span>
        </div>
          <label class="switch-label">Only free</label>
        <% else %>
          <label class="switch">
            <%= check_box_tag :free, params[:free] %>
            <span id="free" class="slider round"></span>
          </label>
          <label class="switch-label off">Only free</label>
        <% end %>
        <%= submit_tag 'Search', name: nil, class:"btn search-button search-button-home", id:"submit" %>
      </div>
    </div>
  </div>
<% end %>

<% if @events.count != 0 %>
  <div class="row row-no-padding">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="title-bar">
        <h2>
          RESULTS
        </h2>
        <!-- <a href="#map"> -->
        <!-- </a> -->
      </div>
    </div>
  </div>
  <!-- row for each sport -->
  <div class="sport-rows" id="results">
    <%= render 'events/results', events: @events %>
  </div>

  <div id="map" style="width:100%; height: 600px;" data-markers="<%= @markers.to_json %>"></div>
  <% else %>
  <div class="row row-no-padding">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="title-bar">
        <h1>
          Unfortunately no events are matching your criteria :(
        </h1>
      </div>
    </div>
  </div>
<% end %>
