
<div class="search-index-box">
  <div class="search-fields">
    <%= render 'shared/search_bar' %>
  </div>
  <div class="switch-field">
      <%= form_tag(events_path, method: :get) do %>
      <label class="switch-label">All</label>
      <label class="switch">
        <%= check_box_tag :paid, params[:paid] %>
        <span class="slider round"></span>
      </label>
      <label class="switch-label">Only free</label>
      <% end %>
  </div>
</div>

<!-- row for each sport -->
<div class="sport-rows">
  <% @sports.each do |sport| %>
  <% i = 0 %>
    <% sport.events.each do |event| %>
      <% if @events.include? event %>
        <% i += 1 %>
        <% if i == 1 %>
          <div class="row">
            <div class="col-xs-3">
              <!-- fixed sport's card -->
              <%= render 'shared/sport_card', sport: sport %>
            </div>
            <div class="col-xs-9">
              <div class="events-row">
                <!-- vertical scroll with events in the category -->
                <% sport.events.each do |event| %>
                  <%= render 'shared/event_card', event: event, events: @events %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
