<% @title="Create new Event!" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="form-post">
        <h1 class="centered-title">Create a new Event</h1>
        <%= simple_form_for @event do |f| %>
          <%= f.input :title, placeholder: "What's the title of your event?" %>
          <%= f.input :description, placeholder: "What's your event about?"%>
          <div class="category-choices">
          <%= f.association :sport, as: :check_boxes, label_method: lambda { |sport| "#{sport.category}"}%>
          </div>
          <%= f.input :address, placeholder: "Where will it take place?"%>
          <%= f.input :intensity, collection: Event::INTENSITIES, prompt: "Which Intensity?" %>
          <%= f.input :capacity, placeholder: "How many people can join your event?"%>
          <%= f.input :price, placeholder: "Price" %>
          <%= f.input :date, class: "datepicker"%>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Create!", class: "search-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
