<% @title="Create new Event!" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="form-post">
        <h1 class="centered-title">Create a new Event</h1>
        <%= form_for @event, url: {action: "create"} do |f| %>
          <%= f.text_field :title, placeholder: "What's the title of your event?", class: "form-control" %>
          <%= f.text_field :description, placeholder: "What's your event about?",  class: "form-control"%>
          <div class="category-choices">
          <%= f.collection_select(:sport, Sport.all, :id, :category) %>
          </div>
          <%= f.text_field :address, placeholder: "Where will it take place?",  class: "form-control"%>
          <%= f.select :intensity, Event::INTENSITIES %>
          <%= f.text_field :capacity, placeholder: "How many people can join your event?",  class: "form-control"%>
          <%= f.text_field :price, placeholder: "Price",  class: "form-control" %>
          <%= f.text_field :date, class: "datepicker", placeholder: "Select date",  class: "form-control" %>
          <%= f.file_field :photo ,  class: "form-control"%>
          <%= f.hidden_field :photo_cache %>
          <%= f.submit "Create!", class: "search-button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
