<!-- <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->
<% @title="Create new Event!" %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="form-post">
        <h1 class="centered-title">Create a new Event</h1>
        <%= simple_form_for @event, url: {action: "create"} do |f| %>
          <%= f.input :title, placeholder: "What's the title of your event?", class: "form-control" %>
          <%= f.input :description, placeholder: "What's your event about?",  class: "form-control"%>
          <%= f.input :sport,collection: Sport.all, label_method: :category, value_method: :id,label: "Sport category" ,:include_blank => false, style: "width: 100%;" %>
          <%= f.input :address, placeholder: "Where will it take place?",  class: "form-control"%>
          <%= f.input :intensity, collection: Event::INTENSITIES, label: "How intensive will be the workout?" %>
          <%= f.input :capacity, as: :string, label: "How many people can join your event?",  class: "form-control"%>
          <%= f.input :price, as: :string, placeholder: "Price" %>
          <%= f.input :date, as: :string, required: false, placeholder: "Select date", input_html: {class: "datepicker"}  %>
          <!-- <%= f.input :photo, input_html: { style: "display: none;"} %>
          <%= f.input :photo_cache, as: :hidden %> -->
          <div class="form-group file required event_photo form-group-invalid">
            <label class="form-control-label file required" for="event_photo">Photo <abbr title="required">*</abbr></label>
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
              <div class="input-group-btn">
                <div class="btn btn-file" style="width: 95%;">
                  <!-- <span class="fileinput-exists">Change file</span> -->
                  <div class="form-control uneditable-input" data-trigger="fileinput">
                    <i class="fa fa-file fileinput-exists"></i>
                    <span class="fileinput-filename">Click</span>
                  </div>
                  <input style="display: none;" class="file required file-upload" aria-invalid="true" type="file" name="event[photo]" id="event_photo">
                  <!-- <span class="fileinput-new">Select photo</span> -->
                </div>
                <button class="btn btn-danger fileinput-exists" type="button" data-dismiss="fileinput">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="invalid-feedback">Photo can't be blank</div>
          </div>
          <br>
          <br>
          <%= f.submit "CREATE!", class: "btn create-button-event" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
