<div class="no-gutters">

  <div class="show-event-info-container col-xs-12 col-md-6">
    <div class="show-event-info">
      <div class="show-event-creator">
        <%= cl_image_tag @event.user.photo, class: "avatar avatar-small" %>
        <%= @event.user.first_name %>
        <%= @event.user.last_name %>
      </div>
      <div class="show-event-intensity">
        <% @event.intensity.times do %>
          <%= image_tag("muscles.svg", width: "30px", alt: "bicep", class: "img-intensity") %>
        <% end %>
        <% (5 - @event.intensity).times do %>
          <%= image_tag("muscles_alt.svg", width: "30px", alt: "bicep", class: "img-intensity") %>
        <% end %>
      </div>
      <div class="show-event-details">
        <h3>Adress: <%= @event.address %></h3>
        <h3>Date: <%= @event.date %></h3>
        <h3>Capacity: <%= @event.participations.count %>/<%= @event.capacity %></h3>
      </div>
      <div class="show-event-title">
        <h1><%= @event.title %></h1>
      </div>
    </div>
  </div>

  <div class="show-event-photo col-xs-12 col-md-6" style="background-image: url('<%= cl_image_path(@event.photo, width: 1120, crop: :fill) %>');">
  </div>
</div>


<div class="show-desc-container col-xs-12 col-md-6">
  <div class="show-event-description">
    <p><%= @event.description %></p>
  </div>
  <div class="btn btn-join btn-success text-center">
    <p class="join-event">JOIN THE EVENT</p>
  </div>
</div>

<div class="show-event-map col-xs-12 col-md-6">
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>

<div class="show-event-discussion col-xs-12 col-md-9">
  <div class="show-event-discussion-head text-center">
    <h2>Discussion</h2>
  </div>
  <div class="show-discussion-container">
    <% @event.posts.each do |post| %>
      <div class="show-post">
        <div class="show-post-head">
          <%= cl_image_tag post.user.photo, class: "avatar avatar-small" %>
          <%= post.user.first_name %>
          <%= post.user.last_name %>
          <%= post.created_at %>
        </div>
        <div class="show-post-content">
          <%= post.content %>
        </div>
      </div>
      <% post.replies.each do |reply| %>
        <div class="show-reply">
          <div class="show-reply-head">
            <%= cl_image_tag reply.user.photo, class: "avatar avatar-small" %>
            <%= reply.user.first_name %>
            <%= reply.user.last_name %>
            <%= reply.created_at %>
          </div>
          <div class="show-reply-content">
            <%= reply.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="show-event-related col-xs-12 col-md-3">
  <div class="show-event-related-head text-center">
    <h2>Related Events</h2>
  </div>

</div>
