<% @title = @event.title  %>
<div class="row row-no-padding">

  <div class="col-xs-12 col-md-6 nopadding">
    <div class="show-event-info-container">
      <div class="show-event-info">
        <div class="show-event-creator">
          <%= cl_image_tag @event.user.photo, class: "avatar avatar-small" %>
          <%= @event.user.first_name %>
          <%= @event.user.last_name %>
        </div>
        <div class="join-event">
          <% if current_user.participations.find {|p| p.event_id == @event.id } %>
            <div class="btn-joined text-center">GOING</div>
          <% else %>
            <div class="text-center">
              <%= simple_form_for [@event, @participation], method: :post do |f| %>
                <%= f.hidden_field :status, value: 1 %>
                <%= f.submit "JOIN THE EVENT", class: "btn-join" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="show-event-details">
          <h3><strong>Adress:</strong> <%= @event.address %></h3>
          <h3><strong>Date:</strong> <%= @event.date %></h3>
          <h3><strong>Capacity: </strong><%= @event.participations.count %>/<%= @event.capacity %></h3>
          <div class="show-event-intensity">
            <%= render 'shared/intensity', event: @event %>
            <% (5 - @event.intensity).times do %>
              <%= image_tag("flame_alt.svg", width: "20px", alt: "flame_off", class: "img-intensity img-inline") %>
            <% end %>
          </div>
        </div>
        <div class="show-event-title">
          <h1><%= @event.title %></h1>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-6 nopadding">
    <div class="show-event-photo" style="background-image: url('<%= cl_image_path(@event.photo) %>');">
    </div>
  </div>
</div>

<!-- tabs -->

<div class="events-tabs">
  <!-- <div class="events-tab active"> -->
    <a href="" id="tb_1" class="events-tab active"><h3>DESCRIPTION</h3></a>
   <!-- </div> -->

  <!-- <div > -->
   <a href="" id="tb_2" class="events-tab" > <h3>DISCUSSION</h3></a>
   <!-- </div> -->
</div>

<!-- description -->
<div id="description" class="tabcontent">
  <%= render 'description', event: @event, markers: @markers %>
</div>
  <!-- discussion -->

<!-- <div id="discussion" class="tabcontent">
  <%= render 'discussion', event: @event, reply: @reply, post: @post %>
</div> -->
<!-- </div> -->
<!-- related events -->


<script>


</script>
