<!-- fabian -->

<div class="team-card-sport" style="background-image: url('<%= image_path('F2.jpg') %>'); background-position: center; background-size: cover;">
  <div class="team-card" style="background-image: url('<%= image_path('F1.jpg') %>'); background-position: center; background-size: cover;">
  </div>
</div>

<!-- julian -->

<div class="team-card-sport" style="background-image: url('<%= image_path('J2.jpg') %>'); background-position: center; background-size: cover;">
  <div class="team-card" style="background-image: url('<%= image_path('J1.jpg') %>'); background-position: center; background-size: cover;">
  </div>
</div>


<!-- ileana -->

<div class="team-card-sport" style="background-image: url('<%= image_path('I2.jpg') %>'); background-position: center; background-size: cover;">
  <div class="team-card" style="background-image: url('<%= image_path('I1.jpg') %>'); background-position: center; background-size: cover;">
  </div>
</div>


<!-- zuz -->

<div class="team-card-sport" style="background-image: url('<%= image_path('Z2.jpg') %>'); background-position: center; background-size: cover;">
  <div class="team-card" style="background-image: url('<%= image_path('Z1.jpg') %>'); background-position: center; background-size: cover;">
  </div>
</div>
