<% @title= "Travelfit" %>

<%= video_tag "TravelFit_Video.mp4", autoplay: true, loop: true, mute: :mute, class: "video row-no-padding" %>

<div class="home-margin-top">
  <div class="row row-no-padding">
    <div class="call-to-action text-center hidden-xs hidden-sm discover-all-button">
      <h1>Explore sports <span style="color: #bbbbbb">anywhere</span> you go.</h1>
    </div>
  </div>
  <%= render 'shared/search_bar_home' %>
</div>

<div class="mission">
  <div class="row row-no-padding">
    <div class="col-xs-12">
      <div class="text-center">
        <h2>We empower Travelers to explore and share sport events all over the world.</h2>
        <h3>Become part of our journey.</h3>
      </div>
    </div>
  </div>
</div>

<div class="information">
  <div class="row row-no-padding">
    <div class="info-text">
      <div class="col-xs-12 col-md-4">
        <div class="text-center add-info2">
          <%= image_tag("calendar2.svg", width: "30%", alt: "Scale", class: "img-responsive center-block info-padding") %>
          <h3>Explore Events</h3>
          <p>Search and find events and meetups in your location! Or the location you will be at in a week's time.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center add-info3">
          <%= image_tag("setting.svg", width: "30%", alt: "Scale", class: "img-responsive center-block info-padding") %>
          <h3>Share your Event</h3>
          <p>Create an event if you find nothing to your liking and share your passion with others.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-center add-info4">
          <%= image_tag("conversation.svg", width: "30%", alt: "Scale", class: "img-responsive center-block info-padding") %>
          <h3>Become part of the club</h3>
          <p>Each event has it's own community to coordinate and gather feedback, you can be a part of it, too!</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="team">
  <div class="container">
    <h2 class="teamheadline text-center">THE TEAM</h2>
    <div class="row row-no-padding">
      <div class="add-info">
        <div class="col-xs-12 col-md-6 nopadding">
          <div class="border-left">
          </div>
          <div class="team-card-sport" style="background-image: url('<%= image_path('F2.jpg') %>'); background-position: center; background-size: cover;">
            <div class="team-card" style="background-image: url('<%= image_path('F1.jpg') %>'); background-position: center; background-size: cover;">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5 nopadding">
          <div class="team-member">
            <h3>Fabian</h3>
            <h4>Business-Genius and Flexboxer</h4>
            <p class="member-desc">Driven by his passion for innovative technologies, sports and music. Enjoys to meet and work with people with different professional as well as cultural backgrounds.
            <br>
            <br>based in: Berlin, Germany
            <br>current life: VC Analyst
            <br><a href="mailto:fabian.krautwurst@gmail.com">email: fabian.krautwurst@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="add-info">
        <div class="col-xs-12 col-md-6 nopadding">
          <div class="team-member">
            <h3>Julian</h3>
            <h4>Chief Design Officer and Snuff Tobacco Minister</h4>
            <p class="member-desc">Enthusiastic about new Technology, Science and Music. Loves every opportunity to talk to anyone knowledgable about pretty much any subject. Learning and discovery are always welcome.
            <br>
            <br>based in: Berlin, Germany
            <br>previous life: Freelance Graphic Designer
            <br><a href="mailto:j.schleiminger@gmail.com">email: j.schleiminger@gmail.com</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 nopadding">
          <div class="border-right">
          </div>
          <div class="team-card-sport" style="background-image: url('<%= image_path('J2.jpg') %>'); background-position: center; background-size: cover;">
            <div class="team-card" style="background-image: url('<%= image_path('J1.jpg') %>'); background-position: center; background-size: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="add-info">
        <div class="col-xs-12 col-md-6 nopadding">
          <div class="border-left">
          </div>
          <div class="team-card-sport" style="background-image: url('<%= image_path('I2.jpg') %>'); background-position: center; background-size: cover;">
            <div class="team-card" style="background-image: url('<%= image_path('I1.jpg') %>'); background-position: center; background-size: cover;">
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-5 nopadding">
          <div class="team-member">
            <h3>Ileana</h3>
            <h4>Jewelry-Consultant and Master of Sliders</h4>
            <p class="member-desc">This is an example text, please write something about yourself, keeping in mind how much content we can display without exceeding the height of the image.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-no-padding">
      <div class="add-info">
        <div class="col-xs-12 col-md-6 nopadding">
          <div class="team-member">
            <h3>Zuza</h3>
            <h4>Teamleader and Coding-prodigy</h4>
            <p class="member-desc">Sport and travel freak with a newly discovered passion for coding. Open for possibilities and new connections.
            <br>
            <br>based in: Berlin, Germany
            <br>previous life: Reebok CEE Manager
            <br><a href="mailto:zuberzuzanna@gmail.com">email: zuberzuzanna@gmail.com</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 nopadding">
          <div class="border-right">
          </div>
          <div class="team-card-sport" style="background-image: url('<%= image_path('Z2.jpg') %>'); background-position: center bottom; background-size: cover;">
            <div class="team-card" style="background-image: url('<%= image_path('Z1.jpg') %>'); background-position: center; background-size: cover;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<script>
    ScrollReveal().reveal('.add-info', { delay: 600, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.add-info2', { delay: 600, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.add-info3', { delay: 900, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.add-info4', { delay: 1200, origin: 'bottom', distance: '50px', easing: 'ease-in' });
    ScrollReveal().reveal('.member-desc', { delay: 1000, origin: 'bottom', distance: '50px', easing: 'ease-in' });
</script>
