<div class="post-with-reply">
  <div class="show-post">
    <div class="show-post-head">
      <%= cl_image_tag post.user.photo, gravity: 'face', class: "avatar-small avatar-with-margin" %>
      <div class="show-post-userinfo">
        <div class="show-post-username">
          <p>
            <%= post.user.first_name %>
            <%= post.user.last_name %>
          </p>
          <div class="posted-at">
            <% time_diff = (Time.current - post.created_at) / 1.minute  %>
            <% if time_diff < 1 %>
              (just now)
            <% elsif time_diff < 60 %>
              (<%=  ((Time.current - post.created_at) / 1.minute ).floor %> minutes ago)
            <% elsif time_diff < (60 * 24) %>
              (<%=  ((Time.current - post.created_at) / 1.hour ).floor %> hours ago)
            <% else %>
              (<%=  ((Time.current - post.created_at) / 1.day ).floor %> days ago)
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="show-post-content">
      <p><%= post.content %></p>
      <div class="reply-link">
        <button class="btn-link reply-link reply-btn" id="btn<%= post.id %>">Reply</button>
      </div>
    </div>
  </div>
  <%= render 'replies/new', event: event, post: post, reply: reply %>
  <div id="replies-<%= post.id %>" class="replies">
    <%= render 'replies/show', post: post %>
  </div>
</div>
